@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'logo';
    src: url('./fonts/Gazpacho\ Medium.ttf');
}
.opacity_0{
    opacity: 0;
    transition: .3s all;
}
.opacity_100{
    opacity: 1;
    transition: .3s all;
}
.DropDown{
    z-index: 9999;
}
ul.dropDown li{
    cursor: pointer;
    padding: 10px;
    list-style: none;
    width: 200px;
    height: auto;
    color: #1890ff;

}
ul.dropDown li:hover{
    text-decoration:underline;
}
.dropDown{
    position: absolute;
    top: 64px;
    right:0;
    width: auto;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.Account{
    margin-left: auto !important;
}
*:not(.logo){
    font-family: 'Open Sans', sans-serif;
}
.logo > *{
    font-family: 'logo' !important;
    font-size: 25px;
}

.logo:hover{
    background:none !important;
}

.ant-menu-item{
    display: flex !important;
    align-items: center !important;
}

.input{
    border: 0;
    height: 50px;
    padding: 30px 20px;
    background: white;
    border-radius: 3px;
    border:none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.w-25{
    width: 50%;
}
.input:focus-visible {
    outline: none;
}
.DropDown li:hover{
    background-color: #1890ff;
}
.DropDown li{
    list-style: none;
    padding: 7px;
    width: 100%;
    transition: .3s all;
}
.ant-modal-footer{
    display: flex;
}
.DropDown{
    background: #001529;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    right: 0;
    width: 170px;
}
.Spin{
    position: absolute !important;
    top: 4px;
    z-index: 100    ; 
}

.site-button-ghost-wrapper{
    padding: 5px !important;
}
.container, .login{
    height: 91vh;
}
.container > img{
    width: 50%;
}
/* .loading{
    position: absolute;
    content: '';
    background-color: #1890ff;
    height: 3px;
    top: 0;
    left: 0;
    animation: loading 2s;
} */


@keyframes loading {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
Button{
    height: 50px !important;
    width: 30%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.Side{
    background-color: rgb(243, 243, 243);
    height: calc(100vh - 64px);
    position: fixed;
    left: 0;
}
.Content{
    margin-top: 64px;
}
.Rooms{
    position: absolute;
    right: 0;

}
.Card{
    height: 300px;
}

.Navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

}
